<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Expense Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input
          clearInput
          type="text"
          [(ngModel)]="expenseTitle"
          placeholder="Title"
        ></ion-input>
      </ion-col>
      <ion-col>
        <ion-input
          clearInput
          type="number"
          [(ngModel)]="expenseCost"
          placeholder="Amount"
        ></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label
            >Date / Time <ion-icon name="calendar"></ion-icon
          ></ion-label>
          <ion-datetime
            displayFormat="D MMM YYYY H:mm"
            [(ngModel)]="expenseDateTime"
           
           
            
          ></ion-datetime>
        </ion-item>      
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button clear (click)="openCam()"
          >Add Receipt Image
          <ion-icon name="camera"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <img src="{{image}}" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button clear (click)="addTask()"
          >Add Expense
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid>
    <ion-row *ngFor="let expense of storageItems; let i = index">
      <ion-col  size="auto">
        <ion-button clear (click)="openDetailsWithQueryParams(expense)"
          >{{expense.title}}
        </ion-button>
      </ion-col>
      <ion-col>
        {{ expense.cost / 100 | number:'1.2-2' | currency : 'GBP' }}
      </ion-col>
      <ion-col>
        {{expense.expenseDateTime | date: "dd/MM/yyyy 'at' h:mma"}}
      </ion-col>
      <ion-col size="auto">
        <ion-button clear (click)="deleteTask(i)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-note color="primary">Total Expense Cost: {{totalCost / 100 | number:'1.2-2' | currency : 'GBP' }}</ion-note>
  
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-button clear (click)="deleteAllExpenses()"
      >Delete All Expenses
      <ion-icon name="trash"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-footer>
