<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Expense Tracker
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-input
          clearInput
          type="text"
          [(ngModel)]="expenseTitle"
          placeholder="Title"
        ></ion-input>
      </ion-col>
      <ion-col>
        <ion-input
          clearInput
          type="number"
          [(ngModel)]="expenseCost"
          placeholder="Amount"
        ></ion-input>
      </ion-col>
      <ion-input
        clearInput
        type="date"
        [(ngModel)]="expenseDate"
        placeholder=""
      ></ion-input>
      <ion-col>
        <ion-input
          clearInput
          type="time"
          [(ngModel)]="expenseTime"
          placeholder=""
        ></ion-input>
      </ion-col>
      <ion-col>
        submitted date/time
      </ion-col>
      <ion-col>
        <ion-button clear (click)="openCam()">
          <ion-icon name="camera"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button clear (click)="addTask()">
          <ion-icon name="add-circle"></ion-icon>
        </ion-button>
      </ion-col>
      <ion-col>
        delete
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let expense of storageItems; let i = index">
      <ion-col>
        {{expense.title}}
      </ion-col>
      <ion-col>
        {{ expense.cost / 100 | number:'1.2-2' | currency : 'GBP' }}
      </ion-col>
      <ion-col>
        {{expense.expense_date}}
      </ion-col>
      <ion-col>
        {{expense.expense_time}}
      </ion-col>
      <ion-col>
        {{expense.submitted_date}}
      </ion-col>
      <ion-col>
        <img src="{{expense.img}}" />
      </ion-col>
      <ion-col>
        <ion-button clear (click)="deleteTask(i)">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        Total Expense Amount: {{  totalCost / 100 | number:'1.2-2' | currency : 'GBP' }} 
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        delete all button
        <ion-button clear (click)="deleteAllExpenses()">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
